Repository EasyScriptJS/EasyScript, pull requests merged in 2023-06, with the labels that each got.

#62 fix: invalid docs link
  README.md
Labels: fix, next release, validated, readme

#63 v1.2.7
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/question.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/do-not-merge.yml
  .github/workflows/labeler.yml
  .github/workflows/package.yml
  .github/workflows/pr.yml
  .github/workflows/publish.yml
  README.md
  package-lock.json
  package.json
Labels: release, readme

#64 add typescript support
  package.json
  src/index.d.ts
Labels: package

#65 v1.3.0
  package-lock.json
  package.json
  src/index.d.ts
  src/modules/random.js
  src/modules/util/boolToNum.js
  src/modules/util/numToBool.js
Labels: release, package

#69 v1.3.1
  package-lock.json
  package.json
  src/index.d.ts
  src/index.js
  src/modules/flip.js
  src/modules/id.js
  src/modules/log.js
  src/modules/print.js
  src/modules/random.js
  src/modules/util/boolToNum.js
  src/modules/util/boolToStr.js
  src/modules/util/numToBool.js
  src/modules/util/numToStr.js
  src/modules/util/removeDuplicates.js
  src/modules/util/strToBool.js
  src/modules/util/strToNum.js
  src/modules/uuid.js
Labels: release, package

#71 v1.3.2
  package-lock.json
  package.json
  src/index.d.ts
Labels: release, package
